* {
  box-sizing: border-box;
}

body {
  background-color: #f5f3f3;
  color: #555;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

.clr {
  clear: both;
}

.header {
  text-align: center;
  margin-top: 5%;
}

.header img {
  max-width: 300px;
}

.container {
  width: 60%;
  margin: auto;
  overflow: hidden;
  text-align: center;
  min-width: 300px;
}

.list-title {
  text-align: center;
  line-height: 1em;
}

.pokemon-card {
  float: left;
  min-width: 30%;
  width: 30%;
  height: 200px;
  border: 2px solid #000;
  margin: 1.5%;
  background: #fff;
  padding-top: 50px;
  border-radius: 5px;
  text-align: center;
}

.pokemon-card img {
  height: 4em;
}

.pokemon-card:hover {
  background-color: #e6e6e6;
}

.detail-card {
  text-align: center;
  margin: auto;
  width: 300px;
  height: 460px;
  border: 2px solid #000;
  background: #fff;
  margin-top: 10%;
  position: relative;
}

.detail-card .close {
  position: absolute;
  right: 3%;
  top: 1%;
}

.detail-card img {
  height: 12em;
}

.specs {
  float: left;
  text-align: left;
  margin-left: 3%;
}

@media screen and (max-width: 35.5em) {
  .pokemon-card {
    min-width: 95%;
  }
}

@media screen and (min-width: 35.5em) and (max-width: 60em) {
  .pokemon-card {
    min-width: 45%;
  }
}
